.logo {
	width: 100%;
	max-width: 400px;
}

.mini {
	width: 46px;
	height: 80px;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	max-height: 5em;
	max-width: 5em;
}

#thumbnail-radio > fieldset > div > div > label > h2 {
	font-size: 1em;
	font-weight: 700;
	display: block;
	margin: .45em 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#thumbnail-radio > fieldset > div > div > label > p {
	font-size: .75em;
	font-weight: 400;
	display: block;
	margin: .6em 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#thumbnail-radio > fieldset > div > div > label {
	min-height: 3.625em;
	padding-left: 6.25em;
}

p.intro {
	font-size: .96em;
	line-height: 1.3;
	border-top: 1px solid black;
	border-bottom: 0;
	background: none;
	margin: 2em 0;
	padding: 1.5em 15px 0;
}


/* Basic styles */
.grid-logo .ui-body {
    text-align: left;
    border-color: #ddd;
}
.grid-logo p {
    color: #777;
    line-height: 140%
}
/* Stack all blocks to start */
.grid-logo .ui-block-a,
.grid-logo .ui-block-b,
.grid-logo .ui-block-c {
    width: 100%;
    float: none;
}
/* Collapsing borders */
.grid-logo > div + div .ui-body {
    border-top-width: 0;
}
/* 1st breakpoint - Float B and C, leave A full width on top */
@media all and (min-width: 42em) {
    .grid-logo {
        overflow: hidden; /* Use this or a "clearfix" to give the container height */
    }
    .grid-logo .ui-body {
       min-height: 4em;
    }
    .grid-logo .ui-block-b,
    .grid-logo .ui-block-c {
      float: left;
      width: 49.95%;
    }
    .grid-logo .ui-block-b p,
    .grid-logo .ui-block-c p {
      font-size: .8em;
    }
    .grid-logo > div + div .ui-body {
        border-top-width: 1px;
    }
    .grid-logo > div:first-child .ui-body {
        border-bottom-width: 0;
    }
    .grid-logo > div:last-child .ui-body {
        border-left-width: 0;
    }
}
/* 2nd breakpoint - Float all, 50/25/25 */
@media all and (min-width: 55em) {
    .grid-logo .ui-body {
       min-height: 18em;
    }
    .grid-logo .ui-block-a,
    .grid-logo .ui-block-c {
      float: left;
      width: 49.95%;
    }
    .grid-logo .ui-block-b,
    .grid-logo .ui-block-c {
      float: left;
      width: 24.925%;
    }
    .grid-logo > div:first-child .ui-body {
        border-bottom-width: 1px;
    }
    .grid-logo > div + div .ui-body {
        border-left-width: 0;
    }
}
/* 3rd breakpoint - Bump up font size at very wide screens */
@media all and (min-width: 75em) {
    .grid-logo .ui-body {
      font-size: 125%;
    }
    .grid-logo .ui-block-a,
    .grid-logo .ui-block-c {
      float: left;
      width: 49.95%;
    }
    .grid-logo .ui-block-b,
    .grid-logo .ui-block-c {
      float: left;
      width: 24.925%;
    }
}

.grid-survey .ui-block-a {
       min-height: 24em;
    }
    