<div data-role="header" data-theme="b">
	<a href="#" data-role="button" data-icon="home" data-iconpos="notext" data-inline="true" data-direction="reverse">Home</a>
	<h4>ORANGE</h4>
	<a href="#" data-icon="gear" class="ui-btn-right">Options</a>
</div>

<div data-role="content" >



	<fieldset class="ui-grid-a">
		<div class="ui-block-a">
			<a href="#surveySimOrPhone" data-role="button" data-icon="carat-l" data-iconpos="left" data-theme="c" data-direction="reverse" data-transition="slide" class="ui-nodisc-icon">Powrót</a>
		</div>
		<div class="ui-block-b">
			<a href="#surveyAgreementCosts" data-role="button" data-icon="carat-r" data-iconpos="right" data-theme="c" data-transition="slide" class="ui-nodisc-icon">Dalej</a>
		</div>
	</fieldset>
	
</div>

<div data-role="footer" data-theme="b" data-position="fixed" >
	<h4>Page Footer</h4>
</div>
