<div data-role="header" data-theme="b">
	<a href="#" data-role="button" data-icon="home" data-iconpos="notext" data-inline="true" data-direction="reverse">Home</a>
	<h4>ORANGE</h4>
	<a href="#navpanel" data-icon="bars" data-iconpos="notext" class="ui-btn-right">Menu</a>
</div>

<div data-role="content" >

	<div class="ui-grid-solo grid-survey">
		<div class="ui-block-a">
			<h2>Rodzaj oferty:</h2>
			<form id="thumbnail-radio">
				<fieldset data-role="controlgroup" data-iconpos="right">
					<input type="radio" name="radio-choice-w-6" id="radio-choice-w-6a" value="on" checked="checked">
					<label for="radio-choice-w-6a"> <img src="css/images/orange/sim.jpg" class="mini"> <h2>SIM</h2>
						<p>
							Sama karta SIM
						</p> </label>
					<input type="radio" name="radio-choice-w-6" id="radio-choice-w-6b" value="off">
					<label for="radio-choice-w-6b"> <img src="css/images/orange/phone.jpg" class="mini"> <h2>SIM + Telefon</h2>
						<p>
							Karta SIM z telefonem
						</p> </label>
				</fieldset>
			</form>
		</div>
	</div>

	<fieldset class="ui-grid-a">
		<div class="ui-block-a">
			<a href="#home" data-role="button" data-icon="carat-l" data-iconpos="left" data-theme="c" data-transition="slide" data-direction="reverse" class="ui-nodisc-icon">Powrót</a>
		</div>
		<div class="ui-block-b">
			<a href="#surveyDetailOrBusiness" data-role="button" data-icon="carat-r" data-iconpos="right" data-theme="c" data-transition="slide" class="ui-nodisc-icon">Dalej</a>
		</div>
	</fieldset>
	
</div>
