<div data-role="header" data-theme="b">
	<a href="#" data-role="button" data-icon="home" data-iconpos="notext" data-inline="true" data-direction="reverse">Home</a>
	<h4>ORANGE</h4>
	<a href="#navpanel" data-icon="bars" data-iconpos="notext" class="ui-btn-right">Menu</a>
</div>

<div data-role="content" >

	<div class="ui-grid-solo grid-survey">
		<div class="ui-block-a">
			<h2>Koniec</h2>
			<div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right">
				<h4>Zebrane dane ....</h4>
				<ul data-role="listview" data-inset="false">
					<% for (var i = 0; i < localStorage.length; i++) { %>
					<% var key = localStorage.key(i); %>
					<li><%= localStorage.getItem(key) %></li>
				<% } %>
				</ul>
			</div>
			<form>
				<input type="button" data-theme="c" value="Wyślij dane" data-icon="action" data-iconpos="bottom">
			</form>
		</div>
	</div>

	<fieldset class="ui-grid-a">
		<div class="ui-block-a">
			<a href="#surveyDataAmount" data-role="button" data-icon="carat-l" data-iconpos="left" data-theme="c" data-transition="slide" data-direction="reverse" class="ui-nodisc-icon">Powrót</a>
		</div>
		<div class="ui-block-b">
			<a href="#home" data-role="button" data-icon="carat-r" data-iconpos="right" data-theme="c" class="ui-nodisc-icon">Koniec</a>
		</div>
	</fieldset>

</div>
