<div data-role="header" data-theme="b">
	<a href="#" data-role="button" data-icon="home" data-iconpos="notext" data-inline="true">My button</a>
	<h4>ORANGE</h4>
</div>

<div data-role="content" >

	<div class="ui-grid-solo">
		<!-- Lead story block -->
		<div class="ui-block-a">
			<img src="css/images/orange/orange-logo.jpg" class="logo"/>
		</div>
		<!-- secondary story block #1 -->
		<div class="ui-block-a">
			<h2>Moje Potrzeby</h2>
			<p class="intro">
				Zbierz potrzeby klienta Orange
			</p>
		</div>
	</div><!-- /grid-survey -->
	<!-- secondary story block #2 -->
	<div class="ui-grid-solo">
		<div class="ui-block-a">
			<a href="#surveySimOrPhone" data-role="button" data-icon="carat-r" data-iconpos="right" data-theme="c" data-transition="slide">Start</a>
		</div>
	</div>
</div>
