<div data-role="panel" id="navpanel" data-position="right" data-display="push">
	<ul data-role="listview" data-theme="b">
		<li>
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#surveySimOrPhone">SIM / SIM + Telefon</a>
		</li>
		<li>
			<a href="#surveyDetailOrBusiness">Detaliczny / Biznesowy</a>
		</li>
		<li>
			<a href="#surveyAgreementTime">Czas Umowy</a>
		</li>
		<li>
			<a href="#surveyAgreementCosts">Koszt Umowy</a>
		</li>
		<li>
			<a href="#surveyPhoneAmount">Ilość minut</a>
		</li>
		<li>
			<a href="#surveySmsAmount">Ilość smsów</a>
		</li>
		<li>
			<a href="#surveyDataAmount">Ilość danych</a>
		</li>
		<li>
			<a href="#endShowAndSendData">End</a>
		</li>
	</ul>
</div>